/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Brand
import io.swagger.client.model.Inline_response_200_5
import io.swagger.client.model.Inline_response_200_6
import io.swagger.client.model.Inline_response_200_7
import io.swagger.client.model.Inline_response_200_8
import io.swagger.client.model.Inline_response_200_9
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object BrandsApi {

  /**
   * Returns a single brand.
   * 
   * Expected answers:
   *   code 200 : Brand (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Brand not found.)
   * 
   * @param ocpc OCPC of the brand to return.
   */
  def getBrandByOcpc(ocpc: String): ApiRequest[Brand] =
    ApiRequest[Brand](ApiMethods.GET, "https://api.otreeba.com/v1", "/brands/{ocpc}", "application/json")
      .withPathParam("ocpc", ocpc)
      .withSuccessResponse[Brand](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Returns a paginated list of edibles.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_8 (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Brand not found.)
   * 
   * @param ocpc OCPC of the brand to list edibles for.
   * @param page Page to be returned.
   * @param count The number of items to return. Default 10. Max 50.
   * @param sort How to sort the items.
   */
  def getBrandEdibles(ocpc: String, page: Option[Int] = None, count: Option[Int], sort: Option[String]): ApiRequest[Inline_response_200_8] =
    ApiRequest[Inline_response_200_8](ApiMethods.GET, "https://api.otreeba.com/v1", "/brands/{ocpc}/edibles", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("count", count)
      .withQueryParam("sort", sort)
      .withPathParam("ocpc", ocpc)
      .withSuccessResponse[Inline_response_200_8](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Returns a paginated list of extracts.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_7 (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Brand not found.)
   * 
   * @param ocpc OCPC of the brand to list extracts for.
   * @param page Page to be returned.
   * @param count The number of items to return. Default 10. Max 50.
   * @param sort How to sort the items.
   */
  def getBrandExtracts(ocpc: String, page: Option[Int] = None, count: Option[Int], sort: Option[String]): ApiRequest[Inline_response_200_7] =
    ApiRequest[Inline_response_200_7](ApiMethods.GET, "https://api.otreeba.com/v1", "/brands/{ocpc}/extracts", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("count", count)
      .withQueryParam("sort", sort)
      .withPathParam("ocpc", ocpc)
      .withSuccessResponse[Inline_response_200_7](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Returns a paginated list of flowers.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_6 (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Brand not found.)
   * 
   * @param ocpc OCPC of the brand to list flowers for.
   * @param page Page to be returned.
   * @param count The number of items to return. Default 10. Max 50.
   * @param sort How to sort the items.
   */
  def getBrandFlowers(ocpc: String, page: Option[Int] = None, count: Option[Int], sort: Option[String]): ApiRequest[Inline_response_200_6] =
    ApiRequest[Inline_response_200_6](ApiMethods.GET, "https://api.otreeba.com/v1", "/brands/{ocpc}/flowers", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("count", count)
      .withQueryParam("sort", sort)
      .withPathParam("ocpc", ocpc)
      .withSuccessResponse[Inline_response_200_6](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Returns a paginated list of products.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_9 (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Brand not found.)
   * 
   * @param ocpc OCPC of the brand to list products for.
   * @param page Page to be returned.
   * @param count The number of items to return. Default 10. Max 50.
   * @param sort How to sort the items.
   */
  def getBrandProducts(ocpc: String, page: Option[Int] = None, count: Option[Int], sort: Option[String]): ApiRequest[Inline_response_200_9] =
    ApiRequest[Inline_response_200_9](ApiMethods.GET, "https://api.otreeba.com/v1", "/brands/{ocpc}/products", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("count", count)
      .withQueryParam("sort", sort)
      .withPathParam("ocpc", ocpc)
      .withSuccessResponse[Inline_response_200_9](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Returns a paginated list of brands.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_5 (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Brand not found.)
   * 
   * @param page Page to be returned.
   * @param count The number of items to return. Default 10. Max 50.
   * @param sort How to sort the items.
   */
  def getBrands(page: Option[Int] = None, count: Option[Int], sort: Option[String]): ApiRequest[Inline_response_200_5] =
    ApiRequest[Inline_response_200_5](ApiMethods.GET, "https://api.otreeba.com/v1", "/brands", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("count", count)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_5](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
      

}

