/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Inline_response_200
import io.swagger.client.model.Inline_response_200_1
import io.swagger.client.model.SeedCompany
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object SeedCompaniesApi {

  /**
   * Returns a paginated list of seed companies.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_1 (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Seed company not found.)
   * 
   * @param page Page to be returned.
   * @param count The number of items to return. Default 10. Max 50.
   * @param sort How to sort the items.
   */
  def getSeedCompanies(page: Option[Int] = None, count: Option[Int], sort: Option[String]): ApiRequest[Inline_response_200_1] =
    ApiRequest[Inline_response_200_1](ApiMethods.GET, "https://api.otreeba.com/v1", "/seed-companies", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("count", count)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_1](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Returns a single seed company.
   * 
   * Expected answers:
   *   code 200 : SeedCompany (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Seed company not found.)
   * 
   * @param ocpc OCPC of the seed company to return.
   */
  def getSeedCompanyByOcpc(ocpc: String): ApiRequest[SeedCompany] =
    ApiRequest[SeedCompany](ApiMethods.GET, "https://api.otreeba.com/v1", "/seed-companies/{ocpc}", "application/json")
      .withPathParam("ocpc", ocpc)
      .withSuccessResponse[SeedCompany](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Returns a paginated list of strains for a single seed company.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200 (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Seed company not found.)
   * 
   * @param ocpc OCPC of the seed company to return strains for.
   * @param page Page to be returned.
   * @param count The number of items to return. Default 10. Max 50.
   */
  def getSeedCompanyStrainsByOcpc(ocpc: String, page: Option[Int] = None, count: Option[Int]): ApiRequest[Inline_response_200] =
    ApiRequest[Inline_response_200](ApiMethods.GET, "https://api.otreeba.com/v1", "/seed-companies/{ocpc}/strains", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("count", count)
      .withPathParam("ocpc", ocpc)
      .withSuccessResponse[Inline_response_200](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
      

}

