/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Inline_response_200_11
import io.swagger.client.model.Strain
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object StrainsApi {

  /**
   * Returns a single strain.
   * 
   * Expected answers:
   *   code 200 : Strain (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Strain not found.)
   * 
   * @param ocpc OCPC of the strain to return.
   */
  def getStrainByOcpc(ocpc: String): ApiRequest[Strain] =
    ApiRequest[Strain](ApiMethods.GET, "https://api.otreeba.com/v1", "/strains/{ocpc}", "application/json")
      .withPathParam("ocpc", ocpc)
      .withSuccessResponse[Strain](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Returns a paginated list of strains.
   * 
   * Expected answers:
   *   code 200 : Inline_response_200_11 (Successful operation.)
   *   code 400 :  (Invalid OCPC supplied.)
   *   code 401 :  (Unauthorized action.)
   *   code 404 :  (Strain not found.)
   * 
   * @param page Page to be returned.
   * @param count The number of items to return. Default 10. Max 50.
   * @param sort How to sort the items.
   */
  def getStrains(page: Option[Int] = None, count: Option[Int], sort: Option[String]): ApiRequest[Inline_response_200_11] =
    ApiRequest[Inline_response_200_11](ApiMethods.GET, "https://api.otreeba.com/v1", "/strains", "application/json")
      .withQueryParam("page", page)
      .withQueryParam("count", count)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Inline_response_200_11](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
      

}

